<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<style>
    table,th,td{
        border-collapse: collapse;
    }
</style>
<body>
    <h1>User List</h1>
       
    <table style="width: 100px;" border="1">
        <tr>
            <th> FIRST NAME </th>
            <th> LAST NAME </th>
            <th> EMAIL </th>
            <th> ADDRESS </th>
        </tr>

        {% for user  in users %}            
        <tr>
            <td> {{ user.first_name }} </td>
            <td>  {{ user.last_name }} </td>
            <td>  ({{ user.email }}) </td>
            <td>  {{ user.address }} </td>
        </tr>
        {% endfor %}
    </table>
        
    <a href="/">Go Back to Signup</a>
</body>
</html>